@page
@model RazorPagesApplication.Pages.UserPages.AuxiliaryPage1Model
<!-- моя первая тренировочная страница страница -->
@{
    ViewData["Title"] = "Auxiliary Page №1";
}

@{
    Layout = "_AuxiliaryTemplate1"; <!-- пренаправляю на свой шаблон -->
}

<div class="text-center">
    <h1 class="display-4">HOHOHO</h1>
    <p>Don't Push Here <a href="https://docs.microsoft.com/aspnet/core">Place wich cannot be pushed</a>.</p>
</div>